@{
    ViewData["Title"] = "Новини";
}

@model AllNewsViewModel

<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Новини</h1>
            </div>
        </div>
    </div>
</div>

<div class="services">
    <div class="container">
        @for (int i = 0; i < this.Model.AllNews.Count(); i += 3)
        {
            <div class="row">
                @{
                    int j = 0;
                    for (; j <= 2 && i + j < this.Model.AllNews.Count(); j++)
                    {
                        <div class="col-md-4">
                            <div class="service-item">
                                <img src="assets/images/page-heading-bg.jpg" alt="">
                                <div class="down-content">
                                    <h4>@this.Model.AllNews.ElementAt(i + j).Title</h4>
                                    <p>@this.Model.AllNews.ElementAt(i + j).ShortDescription</p>
                                    <a asp-area=""
                                       asp-controller="News"
                                       asp-action="CurrentNews"
                                       asp-route-id="@this.Model.AllNews.ElementAt(i + j).Id" class="filled-button">
                                        Прочети още
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
            <br />
        }
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            document.querySelectorAll('.nav-item')[1].classList.add("active");
            document.querySelectorAll('.nav-item.active')[0].classList.remove("active");
        });
    </script>
}