@{
    ViewData["Title"] = "Файлове";
    Dictionary<string, string> types = new Dictionary<string, string>()
{
        { "InstructionsAndForms", "Инструкции и формуляри" },
        { "MembershipFee", "Членски внос" },
        { "ExternalRegulations", "Външна нормативна уредба" },
        { "InternalRegulations", "Вътрешна нормативна уредба" },
    };
}

@model Dictionary<string, List<DocumentViewModel>>

<div class="page-heading header-text" style="background-image: url(@( $"/images/документи.png")) !important">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Файлове</h1>
            </div>
        </div>
    </div>
</div>
<br />
<div class="container">
    <h3>Формуляри за регистрация:</h3>
    <br />
    <a href="http://www.kiip.bg/formuliari-za-registracia" target="_blank">
        http://www.kiip.bg/formuliari-za-registracia
    </a>
    <br />
    <br />
    @foreach (var fileType in this.Model.Keys)
    {
        <h3>@types[fileType]</h3>
        <br />
        @foreach (var file in this.Model[fileType])
        {
            <a asp-area="" asp-controller="Documents" asp-action="GetDocument" asp-route-id="@file.Id" target="_blank">@file.Name</a>
            <br />
        }
        <hr />
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            document.querySelectorAll('.nav-item')[5].classList.add("active");
            document.querySelectorAll('.nav-item.active')[0].classList.remove("active");
        });
    </script>
}