@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Лична информация";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <p>Твоят акаунт съдържа информация, която сте ни предоставили. Тази страница Ви позволява да свалите или изтриете тази информация.</p>
        <p>
            <strong>Изтривайки тази информация, вашият акаунт вече няма да е в нашата система и няма да може да бъде възстановен.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-primary" type="submit">Свали</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-primary">Изтрий</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}