@using Microsoft.AspNetCore.Identity
@using KiipPazardzhik.Models.Users

<ul class="navbar-nav">
    @if (this.SignInManager.IsSignedIn(User))
    {
        <li>
            <a asp-area="Identity" asp-page="/Account/Manage/Index">
                Профил
            </a>
        </li>
        @if (this.User.IsInRole(GlobalConstants.AdministratorRole))
        {
            <li>
                <a asp-area="Administration" asp-controller="Dashboard" asp-action="Index">
                    Панел
                </a>
            </li>
        }
        <li>
            <a asp-area="Identity" asp-page="/Account/Logout">
                Изход
            </a>
        </li>
    }
    else
    {
        <li>
            <a asp-area="Identity" asp-page="/Account/Register">
                Регистрация
            </a>
        </li>
        <li>
            <a asp-area="Identity" asp-page="/Account/Login">
                Вход
            </a>
        </li>
    }
</ul>