.filterSpan {
    border-radius: 20px;
    background-color: dodgerblue;
    padding: 10px;
    margin-right: 15px;
    color: white;
}

.peopleTable {
    margin: 0px 40px 0px 40px;
}

.freeFilterSpan {
    border-radius: 20px;
    padding: 10px;
    margin-right: 15px;
    border: 1px solid dodgerblue;
    background-color: white;
    color: black;
}

    .freeFilterSpan:hover {
        background-color: dodgerblue;
        color: white;
    }

.regionalCollegesList {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}