.filterSpan {
    cursor: pointer;
    border-radius: 20px;
    background-color: dodgerblue;
    padding: 10px;
    margin-right: 15px;
    color: white;
}

.peopleTable {
    margin: 0px 40px 0px 40px;
}

.freeFilterSpan {
    cursor: pointer;
    border-radius: 20px;
    padding: 10px;
    margin-right: 15px;
    border: 1px solid dodgerblue;
    background-color: white;
    color: black;
}

    .freeFilterSpan:hover {
        background-color: dodgerblue;
        color: white;
    }

.regionalCollegesList {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #a4c639;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 18px;
}

    #myBtn:hover {
        background-color: greenyellow;
    }